<h1>MailMonsters</h1>
	<table>
		<% for i in 0...(@emails.length) %>
			<tr>
				<td><%= link_to "email", email_path(i) %></td>
				<td><%= sender_name(@emails[i])[0] %></td>
				<td>
					<span><%= email_subject(@emails[i]) %></span> 
		   			<span><% email_text_body(@emails[i]) %></span>
				</td>
		   		<td><%= email_recieved_date(@emails[i])%></td>
			</tr>
		<% end %>
	</table>
		
	
