/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 body {
   color: #000000;
 }

 main {
   font-size: 14px;
 }

nav ul a,
nav .brand-logo {
  color: black;
}

p {
  line-height: 2em;
}

.button-collapse {
  color: #fff;
}

#index-banner .section {
  top: 10%;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.brand-logo {
  color: #000000;
}
#logo-container {
  color: #000000;
}
.black {
  color: #000000;
}


/* LOGIN PAGE */
.login-wrap {
  background-image: url(https://s3-us-west-2.amazonaws.com/mailmonsters/mail-monsters-zip/backgrounds/login.jpg);
  background-size: 375px;
  background-color: #1681FA;
  background-repeat: repeat-x;
  background-position: bottom;
  height: 100vh;
}

.logo-pic {
  width: 50%;
  min-width: 150px;
}

.logo-button {
  text-align: center;
}

/* MONSTER SELECT PAGE */
#monster-select {
  width: 20%;
}


/* NAV BAR */
.nav-logo {
  margin: 0 auto;
}

#nav-mobile {
  margin: 0 auto;
}

/* Custom Styles */
.padding-bottom {
  padding-bottom: 100px;
}
.logo img {
  width: 150px;

}

/* Styles from actual Materialize website*/
li.search{position:absolute;left:0;right:0;top:125px;margin-top:1px;padding:1px 0 0 0;z-index:2}
#nav-mobile li.search:hover{background-color:none}
/*#nav-mobile li.search .search-wrapper{margin:0 12px;transition:margin .25s ease}*/
#nav-mobile li.search .search-wrapper.focused{margin:0}
#nav-mobile li.search .search-wrapper input#search{display:block;font-size:16px;font-weight:300;width:100%;height:45px;margin:0;padding:0 45px 0 15px;border:0}
#nav-mobile li.search .search-wrapper input#search:focus{outline:none}
#nav-mobile li.search .search-wrapper i.material-icons{position:absolute;top:10px;right:10px;cursor:pointer}
#nav-mobile li.search .search-results{margin:0;border-top:1px solid #ffffff;background-color:#fff}#nav-mobile li.search .search-results a{font-size:12px;white-space:nowrap}#nav-mobile li.search .search-results a:hover,#nav-mobile li.search .search-results a.focused{background-color:#eee;outline:none}

li.logo{text-align:center;margin-top:0px;margin-bottom:112px}ul.side-nav.fixed li.logo:hover,ul.side-nav.fixed li.logo #logo-container:hover{background-color:transparent}



.top-nav {
  background-color: transparent;
}
.nav-wrapper {
  background-color: transparent;
}

/* MONSTER AREA */

.monster-background {
  height: 380px;
  max-height: 380px;
  background-color: transparent;
  background-repeat: repeat-x;
}
.monster-place {
  width: 20%;
  margin: 0 auto;
  margin-left: 650px;
  padding-top: 100px;
}
.monster-place img {
  width: 60%;
  margin: 0 auto;
  vertical-align: middle;
}

/* Emails */
#email-area ul li a {
  color: #000;
}
#email-area .bold {
  font-weight: bold;
}
#email-area .date {
  float: right;
  font-weight: bold;
}
#compose-email-form form {
  padding: 10px;
  border: 1px solid #fff;
}
#compose-email-form form textarea {
  min-height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
}
#compose-email-form form input:active {
  border: 1px solid #ccc;
}

/* MONSTER SELECTOR BUTTONS*/
.monster-button {
  border: 1px solid #ccc;
  width: 100px;
  height: 100px;
}
