/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 body {
   color: #000000;
 }

nav ul a,
nav .brand-logo {
  color: black;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.brand-logo {
  color: #000000;
}
#logo-container {
  color: #000000;
}
.black {
  color: #000000;
}

/* Custom Styles */
.padding-bottom {
  padding-bottom: 100px;
}
.logo img {
  width: 150px;
}

/* Styles from actual Materialize website*/
li.search{position:absolute;left:0;right:0;top:135px;margin-top:1px;padding:1px 0 0 0;z-index:2}#nav-mobile li.search:hover{background-color:#fff}#nav-mobile li.search .search-wrapper{margin:0 12px;transition:margin .25s ease}#nav-mobile li.search .search-wrapper.focused{margin:0}
#nav-mobile li.search .search-wrapper input#search{display:block;font-size:16px;font-weight:300;width:100%;height:45px;margin:0;padding:0 45px 0 15px;border:0}#nav-mobile li.search .search-wrapper input#search:focus{outline:none}#nav-mobile li.search .search-wrapper i.material-icons{position:absolute;top:10px;right:10px;cursor:pointer}
#nav-mobile li.search .search-results{margin:0;border-top:1px solid #ffffff;background-color:#fff}#nav-mobile li.search .search-results a{font-size:12px;white-space:nowrap}#nav-mobile li.search .search-results a:hover,#nav-mobile li.search .search-results a.focused{background-color:#eee;outline:none}

li.logo{text-align:center;margin-top:0px;margin-bottom:112px}ul.side-nav.fixed li.logo:hover,ul.side-nav.fixed li.logo #logo-container:hover{background-color:transparent}

nav.top-nav{height:300px;box-shadow:none}nav.top-nav a.page-title{line-height:122px;font-size:48px}a.button-collapse.top-nav{position:absolute;text-align:center;height:48px;width:48px;left:7.5%;top:0;float:none;margin-left:1.5rem;color:#fff;font-size:36px;z-index:2}a.button-collapse.top-nav.full{line-height:122px}a.button-collapse.top-nav i{font-size:32px}
@media only screen and (max-width: 600px){a.button-collapse.top-nav{left:5%}}@media only screen and (max-width: 992px){nav .nav-wrapper{text-align:center}nav .nav-wrapper a.page-title{font-size:36px}}@media only screen and (min-width: 993px){.container{width:85%}
