<div>
	<%= link_to "Indox", root_path %>
	<%= button_to "delete", email_delete_path(params[:id]), :method => :delete %>
</div>	

<div>
	<%= render partial: 'email', locals: { email: @email} %>
</div>


	
